<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wm.mapper.VideoCommentVoteMapper">

	<resultMap type="com.wm.mapper.entity.VideoCommentVote" id="videoCommentVote">
		<result property="id" column="ID" />	
		<result property="topicId" column="TOPIC_ID" />	
		<result property="fromUid" column="FROM_UID" />	
		<result property="vote" column="VOTE" />	
		<result property="createTime" column="CREATE_TIME" />	
		<result property="timeStamp" column="TIME_STAMP" />	
		<result property="deleteMark" column="DELETE_MARK" />	
	</resultMap>


	<sql id="Table_Fields">
		 ID,TOPIC_ID,FROM_UID,VOTE,CREATE_TIME,TIME_STAMP,DELETE_MARK
	</sql>

    <sql id="Where_Conditions">
		<where>
			1=1
			<if test="id != null"> 
				AND ID = #{id} 
			</if>	
			<if test="topicId != null"> 
				AND TOPIC_ID = #{topicId} 
			</if>	
			<if test="fromUid != null"> 
				AND FROM_UID = #{fromUid} 
			</if>	
			<if test="vote != null"> 
				AND VOTE = #{vote} 
			</if>	
			<if test="createTime != null"> 
				AND CREATE_TIME = #{createTime} 
			</if>	
			<if test="timeStamp != null"> 
				AND TIME_STAMP = #{timeStamp} 
			</if>	
			<if test="deleteMark != null"> 
				AND DELETE_MARK = #{deleteMark} 
			</if>	
		</where>
	</sql>
	
	<sql id="Set_Values">
		<set >
			<if test="id != null"> 
				ID = #{id}, 
			</if>	
			<if test="topicId != null"> 
				TOPIC_ID = #{topicId}, 
			</if>	
			<if test="fromUid != null"> 
				FROM_UID = #{fromUid}, 
			</if>	
			<if test="vote != null"> 
				VOTE = #{vote}, 
			</if>	
			<if test="createTime != null"> 
				CREATE_TIME = #{createTime}, 
			</if>	
			<if test="timeStamp != null"> 
				TIME_STAMP = #{timeStamp}, 
			</if>	
			<if test="deleteMark != null"> 
				DELETE_MARK = #{deleteMark}, 
			</if>	
		</set>
	</sql>
	
	<insert id="insert" parameterType="com.wm.mapper.entity.VideoCommentVote" >
			<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
			INSERT INTO VIDEO_COMMENT_VOTE
			  (ID,TOPIC_ID,FROM_UID,VOTE,CREATE_TIME,TIME_STAMP,DELETE_MARK)
			VALUES 
			  (#{id},#{topicId},#{fromUid},#{vote},#{createTime},#{timeStamp},#{deleteMark})
	</insert>
	
	<delete id="deleteTrueByKey" parameterType="java.lang.String" >
		<![CDATA[
			DELETE FROM VIDEO_COMMENT_VOTE
			WHERE ID = #{id}
		]]>
	</delete>
	
	<update id="deleteFalseByKey" parameterType="java.lang.String">
		<![CDATA[
			UPDATE VIDEO_COMMENT_VOTE SET DELETE_MARK = 1
			WHERE ID = #{id}
		]]>
	</update>
	
	<update id="update" parameterType="com.wm.mapper.entity.VideoCommentVote" >
		UPDATE VIDEO_COMMENT_VOTE
		<include refid="Set_Values" />
		WHERE ID = #{id}
	</update>

	<select id="queryByKey" parameterType="java.lang.String" resultMap="videoCommentVote">
		SELECT
		<include refid="Table_Fields" />
 		FROM VIDEO_COMMENT_VOTE
 		WHERE ID = #{id}
	</select>
	
	<select id="queryByCondition" parameterType="com.wm.mapper.entity.VideoCommentVote" resultMap="videoCommentVote">
		SELECT 
		<include refid="Table_Fields" />
		FROM VIDEO_COMMENT_VOTE 
		<include refid="Where_Conditions" />
	</select>
	
	<select id="queryByPage" parameterType="java.util.Map" resultMap="videoCommentVote">
		SELECT
		<include refid="Table_Fields" />
 		FROM VIDEO_COMMENT_VOTE
 		<include refid="Where_Conditions" />
 		ORDER BY TIME_STAMP DESC
	</select>
	
	<select id="queryCount" parameterType="com.wm.mapper.entity.VideoCommentVote" resultType="java.lang.Long">
		SELECT COUNT(ID)
 		FROM VIDEO_COMMENT_VOTE
 		<include refid="Where_Conditions" />
	</select>
	
	<update id="cancelVote" parameterType="com.wm.mapper.entity.VideoCommentVote">
		UPDATE VIDEO_COMMENT_VOTE
		<include refid="Set_Values" />
		WHERE from_uid =#{fromUid} and topic_id = #{topicId} and DELETE_MARK = 0
	</update>
	
	<update id="updateByGiven" parameterType="com.wm.mapper.entity.VideoCommentVote">
		UPDATE VIDEO_COMMENT_VOTE
		<include refid="Set_Values" />
		WHERE from_uid =#{fromUid} and topic_id = #{topicId} and DELETE_MARK = 0
	</update>
	
</mapper>