.btn-overwrite {
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
/* 	width: 100%; */
}

.add-div {
	background-color: #252645;
	margin: 0px;
	padding-top: 36px;
	padding-bottom: 110px;
	padding-right: 50px;
	padding-left: 50px;
	width: 100%;
}

.add-div div {
	margin: 0px;
	padding: 5px;
}

.add-btn {
	position: absolute;
	top: 80%;
	left: 72%;
}

.datatable {
	font-size: 10px;
}
.datatable img{
	width: 25px;
}